.sliderWrapper {
  background: url("/assets/colorful-abstract-textured-background-design 2.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sliderTitle {
  font-family: "Helvetica", sans-serif;
  color:#003366;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
}

.sliderSubtitle {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.5px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.sliderButton {
  /* border-radius: 50% !important; */
  width: 30px;

  height: 50px;
   /* min-width:10px; */
  /* min-height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color:"#fff" !important;

  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sliderButton:hover {

  transform: scale(1.05);
}

.prevButton {
  margin-right: 20px;
}

.nextButton {
  margin-left: 20px;
}

.slider {
  cursor:pointer;
  display: flex;
  gap: 30px;
  overflow: hidden;
  padding: 20px 0;
}

.sliderItem {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 350px;
  height: 300px;
  z-index: 1;
  transform: scale(0.9);
  opacity: 0.8;
}

.sliderItem:hover {
  transform: scale(0.95);
  opacity: 1;
}

.sliderItem.center-image {
  width: 300px;
  height: 390px;
  border-radius: 2px;
  z-index: 2;
  transform: scale(1.1);
  opacity: 1;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.sliderCaption {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.sliderCaption:hover {
  background: rgba(0, 0, 0, 0.8);
}
