.slider-wrapper {
  background: url("/assets/colorful-abstract-textured-background-design 2.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-title {
  font-family: "Helvetica", sans-serif;
  color: #2ec8c8;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
}

.slider-subtitle {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.5px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.slider-button {
  border-radius: 50%;
  background-color: #2ec8c8;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-button:hover {
  background-color: #26b0b0;
  transform: scale(1.05);
}

.prev-button {
  margin-right: 20px;
}

.next-button {
  margin-left: 20px;
}

.slider {
  cursor:pointer;
  display: flex;
  gap: 30px;
  overflow: hidden;
  padding: 20px 0;
}

.slider-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 350px;
  height: 300px;
  z-index: 1;
  transform: scale(0.9);
  opacity: 0.8;
}

.slider-item:hover {
  transform: scale(0.95);
  opacity: 1;
}

.slider-item.center-image {
  width: 300px;
  height: 390px;
  border-radius: 2px;
  z-index: 2;
  transform: scale(1.1);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slider-caption {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.slider-caption:hover {
  background: rgba(0, 0, 0, 0.8);
}
