

.navCenter {
    cursor: pointer;
  }
  
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .nav-link:hover{
    
    
      border-bottom: 2px solid #003366;
  }
