.sliderOuter{
    padding-top: 30px;
    background: url("/assets/illustration-vintage-style-paper-background-using-pastel-colours\ 1.png") no-repeat center center;
    background-size: cover;

}

.customSliderContainer {

    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content:flex-end;
    bottom:20px;
    align-items: center;
    gap: 0 !important;
  }

  .customSliderWrapper {
    cursor: pointer;
      margin-top: 40px;

    display: flex;
gap: 16px;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .img-div{
    width: 100%;
    height: 200px;
  }



  .customSliderImage {
    background-color: white;
    color: #000;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.customSliderImageLarge {
    width: 340px;
    padding: 20px;
    height:430px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


.customSliderImageSmall {
    padding: 16px;
    width: 340px;
    height: 430px;
}

.imgDiv {
    width: 100%;
    height: 65%;
}

.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.customSliderImageContent {
    gap:10px;
    height:30%;
    padding-top:10px;
    display: flex;
    flex-direction: column;
}

.customSliderTitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}



.customSliderFooter {
    display: flex;
}

.customSliderLocation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.customSliderLocationIcon {
    font-size: 16px;
    color: red;
}

 .customSliderAction {

    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.customSliderActionIcon {
    border: 2px solid black;
    font-size: 14px;
    color: black;
}

.customNavigationButtons{
    width: 165px;
    height:60px;
    display: flex;
    padding-left:20px;
    background-color:#003366;
}

